<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/icon">
    <title>Home | TechVault</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="indexassets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="indexassets/css/font-awesome.css">

    <link rel="stylesheet" href="indexassets/css/style.css">
    

</head>

<body>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/index" class="logo">
                            <img src="indexassets/images/logo.png" alt="Softy Pinko" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Home</a></li>
                            <li><a href="#features">About</a></li>
                            {{!-- <li><a href="#projects">Projects</a></li> --}}
                            <li><a href="#projects">Featured</a></li>
                            <li><a href="#contact-us">Contact Us</a></li>
                            {{#if user}}
                            <li><a href="/me/profile">My Profile</a></li>
                            <li><a href="/me/myproject">My Projects</a></li>
                            <li><a href="/me/logout">Logout</a></li>
                            {{/if}}
                            {{#unless user}}
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Signup</a></li>
                            {{/unless}}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>Explore our <strong>projects</strong><br>to upgrade your <strong>skills</strong></h1>
                        <p class="mb-1">Browse for projects</p>
                        <form {{#unless user}}action="/search" {{/unless}} {{#if user}} action="/me/search"  {{/if}} id="searchform">
                        <div class="form-check form-check-inline p-2">
                            <input class="form-check-input" type="radio" name="by" id="inlineRadio1" value="title">
                            <label class="form-check-label text-white" for="inlineRadio1">By Title</label>
                        </div>
                        <div class="form-check form-check-inline p-2">
                            <input class="form-check-input" type="radio" name="by" id="inlineRadio2" value="tags">
                            <label class="form-check-label text-white" for="inlineRadio2">By Tags</label>
                        </div>
                        <div class="main-button-slider">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search" name="topic" placeholder="Search For Projects" required>
                                <div class="input-group-append">
                                    <button form="searchform" class="btn btn-outline-secondary btn srcBtn">Search</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="indexassets/images/knowledge.png" height="56px" width="48px" alt=""></i>
                                </div>
                                <h5 class="features-title">KNOWLEDGE</h5>
                                <p>Explore the wide range of projects you can work on.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="indexassets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">SHARE</h5>
                                <p>Share your projects to help you peers learn and grow.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="indexassets/images/inflate.png" height="56px" width="48px" alt=""></i>
                                </div>
                                <h5 class="features-title">INFLATE</h5>
                                <p>Become Tech Savvy with the right kind of projects.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="indexassets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Download your desired projects</h2>
                    </div>
                    <div class="left-text">
                        <p>Find the components of project you want to use . Modify , update and integrate it in your own project. Find basic references and guidance by downloading the projects you wish to use.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Upload your project</h2>
                    </div>
                    <div class="left-text">
                        <p>Upload your project in our portal so that your peers and colleagues can benefit from a great source of knowledge and also will help the student community to take up unique/innovative project works.</p>
                        {{#unless user}}
                        <button class="btn main-button" disabled ><i class="fa fa-upload" aria-hidden="true"></i>Add Project</button> <span class="badge badge-warning">Login to Add Project</span>
                        {{/unless}}
                        {{#if user}}
                        <button class="btn main-button" onclick="window.location.href='/me/addproject'"><i class="fa fa-upload" aria-hidden="true"></i>Add Project</button>
                        {{/if}}
                    </div>

                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="indexassets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="projects">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Fields We Cover</h1>
                            {{!-- <p>Find the projets according to the technology you are interested in.</p> --}}
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-globe"></i>
                            <strong>Web Development</strong>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-robot"></i>
                            <strong>Artificial Intelligence</strong>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-lock"></i>
                            <strong>Cyber <br>Security</strong>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-cloud"></i>
                            <strong>Cloud Computing</strong>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fab fa-java"></i>
                            <strong>Java Programming</strong>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fab fa-python"></i>
                            <strong>Python Programming</strong>
                            <!--<span>Godard pabst prism fam cliche.</span>-->
                        </a>
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter" id="featured">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>{{nofprojects}}</strong>
                            <span>Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>{{nofdownloads}}</strong>
                            <span>Downloads</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>{{nofuploads}}</strong>
                            <span>Uploads</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>{{nofusers}}</strong>
                            <span>Users</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Talk To Us</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>In case of any query or feedback <br>feel free to write to us.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        <p>Tech Vault
                            <br>Final Year Project Group 11</p>
                        <p>Contact: techvault.info@gmail.com</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2020 Tech Vault Company</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="indexassets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="indexassets/js/popper.js"></script>
    <script src="indexassets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="indexassets/js/scrollreveal.min.js"></script>
    <script src="indexassets/js/waypoints.min.js"></script>
    <script src="indexassets/js/jquery.counterup.min.js"></script>
    <script src="indexassets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="indexassets/js/custom.js"></script>

    {{>alert}}
</body>

</html>